
<div class="container-ph"> 
    <div class="box-header">
        <div class="header">
            <app-navbar></app-navbar>
            <div class="cards">
                <app-card [title]="'Entradas'" [valor]="0" [case]="'entrada'"></app-card>
                <app-card [title]="'Saídas'" [valor]="0" [case]="'saida'"></app-card>
                <app-card [title]="'Total'" [valor]="0" [case]="'total'"></app-card>
            </div>
        </div>
    </div>
    <div class="box-content">
        <div class="content">
            <app-conteudo></app-conteudo>
        </div>
    </div>
</div>

