.navbar {
  color: blanchedalmond;
  display: flex;
  justify-content: space-between;

  .icon {
    display: flex;
    align-items: center;
    gap: 15.991px;
    cursor: pointer;

    h2 {
      color: #E1E1E6;
      font-family: Roboto;
      font-size: 25.585px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
    }
  }
}
