<div class="navbar">
    <div class="icon">
        <img src="../../assets/logo.svg" alt="Minha Imagem">
        <h2>DT Money</h2>
    </div>
    <button class="btn-padrao" data-toggle="modal" data-target="#modal">Nova Transação</button>
</div>

<app-modal>
    <div class="modal-principal">
        <div class="modal-corpo">
            <button data-dismiss="modal" aria-label="Close">X</button>

            <div class="cabecalho">
                <p class="titulo">Nova transação</p>
            </div>
        </div>
    </div>
</app-modal>