.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.modal-header {
    border-bottom: 0 !important;
}

.modal-footer {
    border-top: 0 !important;
}

.inputModal {
    background-color: #121214;
    border: none !important;
    height: 3rem;
}

.btn-cadastrar {
    width: 100%;
    height: 48px;
    background-color: #00875F;
    color: white;
}
