<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content  bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white mt-4" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="../../assets/chix.svg" width="25px">
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control inputModal mb-3" [(ngModel)]="transacao.descricao" placeholder="Descrição">
          <input type="text" class="form-control inputModal mb-3" [(ngModel)]="transacao.preco" placeholder="Preço">
          <input type="text" class="form-control inputModal mb-3" [(ngModel)]="transacao.categoria" placeholder="Categoria">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mb-3 btn-cadastrar" (click)="cadastrarTransacoes()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>